.aliplayer-danmuku {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &.abp {
    position: absolute;
    .container {
      z-index: 0;
    }
  }
  .danmu {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.ali-danmuku-control {
  float: right;
  color: #fff;
  margin-right: 5px;
  position: relative;
  display: table-cell;
  margin-top: 8px;
  .iconfont {
    font-size: 35px;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    line-height: initial;
    &.icon-danmu-close {
      display: inline-block;
    }
  }
  .player-tooltip {
    &.close, &.open {
      right: -12px;
    }
  }
  @media (min-width: 768px) {
    .icon-danmu-close:hover + .player-tooltip {
      display: block;
    }
    .icon-danmu-open:hover + .player-tooltip {
      display: block;
    }
  }
  .ali-danmu-input-wrap {
    width: 200px;
    display: none;
  }
}
.ali-danmu-input {
  position: relative;
  width: 100%;
  display: inline-block;
  input {
    display: inline-block;
    width: 100%;
    padding-right: 40px;
    box-sizing: border-box;
    padding: 5px 40px 5px 5px;
    background-color: rgba(130, 132, 138, .4);
    border: 1px solid #c0c4cc;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    &:focus {
      outline: none;
      border-color: #0f84fd;
    }
  }
  .danmu-input-enter {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid;
    color: #fff;
    background-color: #0f84fd;
    border-color: #0f84fd;
    font-size: 12px;
    padding: 6px 7px;
    display: inline-block;
    height: 28px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #288df5;
      border-color: #288df5;
    }
  }
}
