.enter-x5-player video.center
{
	object-position:50% 50% !important;
}

.prism-progress-cursor 
{
  margin-left:0px !important;
}

.enter-x5-player video
{
	object-position: 0px 10px;
	/*height:auto !important;*/

}


video::-webkit-media-controls {
  display:none !important;
}

