<header>
  <div class="contain clearfix">
    <a class="code-view" href="https://github.com/alilmq/livedemo" target="_blank">查看github代码</a>
    <div class="head-right clearfix">
      <div class="share">
        <p class="head-title" href="#"><span>分享</span></p>
        <ul>
          <li>
            <div class='sweep-code'></div>
            扫一扫手机观看
          </li>
        </ul>          
      </div>
      <div class="login">
        <p class="head-title">登录</p>
        <ul class="unlogin">
          <li>
            <a href="#">微信</a>               
          </li>
          <li><a href="#">钉钉</a></li>
        </ul>
        <ul class="logined" style="display:none;">
          <li class="login-out">退出</li>
        </ul>
      </div>
    </div>
  </div>
  <div class='wx'>
    <div class="con">
      <div id="wxcode-box">
        <span class='codetip'>未获取扫描二维码</span>
      </div>
      <span class='close'></span>
    </div>
  </div>
  <div class='dt'>
    <div class="con">
      <div class="dtcode-tit">钉钉登录</div>
      <div id="dtcode">
        
      </div>
      <span class='close'></span>
    </div>
  </div>
</header>