<div class="many-video-ad-component">
  <div class="videos">
    <!-- <video id="many-video-ad-content1" class="test" style="display: block" x5-video-player-type="h5" x5-video-player-fullscreen="false" src="https://alivc-demo-cms.alicdn.com/video/videoAD.mp4"></video>
    <video id="many-video-ad-content2" class="test" style="display: none" x5-video-player-type="h5" x5-video-player-fullscreen="false" src="https://player.alicdn.com/resource/player/qupai.mp4"></video>
    <video id="many-video-ad-content3" class="test" style="display: none" x5-video-player-type="h5" x5-video-player-fullscreen="false" src="https://player.alicdn.com/video/guanggao.mp4"></video> -->
  </div>
  <a class="many-video-ad-link" target="_blank"></a>
  <div class="many-video-ad-close">
    <span id="many-video-ad-duration"></span>
    <label>
      <span class="many-video-ad-close-text"></span>
      <i class="iconfont icon-close"></i>
    </label>
  </div>
  <a class="many-video-ad-detail" target="_blank">查看详情</a>
  <div class="autoplay-many-video-ad">
    <i class="iconfont icon-player-play"></i>
    <span class="limit"></span>
    <span class="manual"></span>
  </div>
  <!-- <div id="loadflag" class="prism-loading center">
    <div class="circle"></div> 
    <div class="circle1"></div>
  </div> -->
</div>