<div class="video-ad-component">
  <video id="video-ad-content" x5-video-player-type="h5" x5-video-player-fullscreen="false"></video>
  <a class="video-ad-link" target="_blank"></a>
  <div class="video-ad-close">
    <span id="video-ad-duration"></span>
    <label>
      <span class="video-ad-close-text"></span>
      <i class="iconfont icon-close"></i>
    </label>
  </div>
  <a class="video-ad-detail" target="_blank"></a>
  <div class="autoplay-video-ad">
    <i class="iconfont icon-player-play"></i>
    <span class="limit"></span>
    <span class="manual"></span>
  </div>
  <div id="loadflag" class="prism-loading center">
    <div class="circle"></div> 
    <div class="circle1"></div>
  </div>
</div>