<div class="video-ad-component" style="background-color: transparent;">
  <a class="video-ad-link" target="_blank"></a>
  <div class="video-ad-close">
    <span id="video-ad-duration"></span>
    <label>
      <span class="video-ad-close-text"></span>
      <i class="iconfont icon-close"></i>
    </label>
  </div>
  <a class="video-ad-detail" target="_blank"></a>
  <div class="autoplay-video-ad" style="display: block;">
    <i class="iconfont icon-player-play"></i>
    <span class="limit"></span>
    <span class="manual"></span>
  </div>
</div>