@import '../../../common/scss/mixins.scss';

.list-header
{
  background: #FFFFFF;
  box-shadow: inset 0 -1px 0 0 #E6E6E6;
  width:100%;
  height: pxToRem(80px);
  display:flex;
  justify-content:space-between;
  align-items: center;
  .title{
    color: #323232;
    margin-left:pxToRem(20px);
   }

  .online-info{
    color: #999999;
    margin-right:pxToRem(20px);
  }

  .code-view
  {
    color: blue;
    font-size: 16px;

    &:hover
    {
      cursor:pointer;
      color:deeppink;
    }
  }
}

@include fontSize(28px, ".list-header .title");
@include fontSize(24px, ".list-header .online-info");
